button {
    cursor: pointer;
    text-align: center;
    background-color: green;
    border-radius: 10px;
    padding: 10px 60px;
    box-shadow: none;
    border-color: transparent;
    color: white;
    font-weight: bold;
}

a {
    color: green;
    text-decoration: none;
    font-weight: bold;
}